<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/multi-select.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="multiselect.js"></script>
  </head>
  <body ng-app="multiSelectDemo">
    <div class="container">
      <h1>Shalotelli Angular Multiselect</h1>
      <div ng-controller="MainCtrl">
        <div class="row">
          <div class="col-xs-4">
            <multi-select 
            name="first"
            values="multiSelectData" 
            model="selectedItems" 
            show-filters="true"
            value-field="value" 
            label-field="label" 
            show-other="true" 
            other-ng-model="other"
            other-field="isOther"
            other-event="keyup"
            show-big-data-confirm="false"
            template-path="views/directives/multi-select.html"></multi-select>
          </div>

          <div class="col-xs-4">
            <multi-select 
            values="multiSelectData2" 
            model="selectedItems2" 
            show-filters="true"
            value-field="value" 
            label-field="label" 
            template-path="views/directives/multi-select.html"></multi-select>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-primary" ng-click="clearAll()">Clear All</button>
            <button class="btn btn-secondary" ng-click="clear()">Clear</button>
            <button class="btn btn-danger" ng-click="makeSelections()">Make Selections</button>
          </div>
        </div>
        <hr />
        <p>Multi Select Data: </p>
        <pre>{{multiSelectData | json}}</pre>
        <p></p>
        <hr />
        <p>Multi Select Output: </p>
        <pre>{{selectedItems | json}}</pre>
        <p></p>
      </div>
    </div>

    <script>
      'use strict';

      angular.module('multiSelectDemo', [ 'shalotelli-angular-multiselect' ])
      .config([ 'multiSelectConfigProvider', function (multiSelectConfigProvider) {
        multiSelectConfigProvider.setDefaults({
          dataThreshold: 3
        });
      }])
      .controller('MainCtrl', [ '$scope', function ($scope) {
        $scope.multiSelectData = [
          {
            "label": "All Open Pursuits",
            "value": "I"
          },
          {
            "label": "Closed / All",
            "value": "C"
          },
          {
            "label": "Closed / Won",
            "value": "W"
          },
          {
            "label": "Closed / Lost",
            "value": "L"
          },
          {
            "label": "Closed / Abandoned",
            "value": "A"
          },

          { 
            "label": 'Other', 
            "value": 999, 
            "isOther": true
          }
        ];

        $scope.multiSelectData2 = $scope.multiSelectData.slice(0, 2);
          
        $scope.selectedItems = [
          {
            "label": "All Open Pursuits",
            "value": "I"
          }
        ];

        $scope.selectedItems2 = [];

        $scope.manualSelection = [
          {
            "label": "Closed / All",
            "value": "C"
          },
          {
            "label": "Closed / Won",
            "value": "W"
          }
        ];

        $scope.clearAll = function () {
          $scope.$broadcast('multiSelectClearAll');
        };

        $scope.clear = function () {
          $scope.$broadcast('multiSelectClear', 'first');
        };

        $scope.makeSelections = function () {
          $scope.selectedItems = $scope.manualSelection;
          $scope.$broadcast('multiSelectRefreshAll');
        };
      }]);
    </script>
  </body>
</html>
