<div class="multi-select">

  <input type="text" class="form-control multi-select-container" ng-click="toggleDropdown()" value="{{displayOptions()}}" placeholder="None Selected" ng-disabled="disabled || loading" readonly>

  <div class="multi-select-dropdown hide">

    <div class="multi-select-filters">
      <span class="multi-select-filter" ng-click="selectAll()" ng-show="showFilters">
        <input type="checkbox" ng-model="allSelected" ng-click="clickSelectAllCheckbox($event)" class="multi-select-select-all-checkbox"> Select All
      </span>

      <button class="close-btn" ng-show="showCloseBtn">Close</button>
    </div><!-- ./multi-select-filters -->

    <ul>
      <li class="multi-select-option" ng-repeat="value in values">
        <a class="multi-select-option-link" href="javascript:;" ng-if="!isOther(value)" ng-click="selectOption(value)" ng-class="{selected: isSelected(value)}">
          <input type="checkbox" ng-checked="isOptionSelected(value)" ng-click="clickCheckbox($event, value)"> {{value[labelField]}}
        </a><!-- ./multi-select-option-link -->
        <div class="multi-select-other-container" ng-if="showOther && isOther(value)">
          <input type="text" class="form-control multi-select-other"
            placeholder="Other"
            ng-change="syncOther(value)"
            ng-keypress="close($event)"
            ng-model="shared.other">
        </div><!-- ./multi-select-other-container -->
      </li><!-- ./multi-select-option -->
    </ul>
  </div><!-- ./multi-select-dropdown -->

</div>
