<div class="multi-select">

  <textarea class="form-control multi-select-container" ng-focus="onFocus()" readonly>{{displayOptions()}}</textarea>

  <div class="multi-select-dropdown hide">

    <div class="multi-select-filters" ng-show="showFilters">
      Select:
      <span class="multi-select-filter" ng-click="selectAll()">All</span>
      <span class="multi-select-filter" ng-click="selectNone()">None</span>
    </div><!-- ./multi-select-filters -->

    <ul>
      <li class="multi-select-option" ng-repeat="value in values">
        <a class="multi-select-option-link" href="javascript:;" ng-click="selectOption($event, value)" ng-class="{selected: (value.isSelected || (showOther && value.IsOther && value[otherNgModel]))}"
        >
          {{value[labelField]}}
        </a><!-- ./multi-select-option-link -->
        <div ng-if='value.IsOther' class="multi-select-other-container" ng-show="showOther">
          <input type="text" class="form-control multi-select-other" placeholder="Other" ng-model="value[otherNgModel]">
        </div><!-- ./multi-select-other-container -->
      </li><!-- ./multi-select-option -->
    </ul>


  </div><!-- ./multi-select-dropdown -->

</div>
