.multi-select > .multi-select-container[readonly] {
  background-color: #fff;
  cursor: default;
  height: auto;
}

.multi-select > .multi-select-dropdown {
  background-color: #fff;
  position: absolute;
  z-index: 999;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  padding: 14px 0 7px 0;
  min-width: 300px;
  overflow-y: auto;
}

.multi-select > .multi-select-dropdown > .multi-select-filters {
  padding: 0 10px 10px 10px;
  font-size: 1.1em;
  border-bottom: 1px solid #e5e5e5;
}

.multi-select > .multi-select-dropdown > .multi-select-filters > .multi-select-filter {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 0.9em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  background-color: #777;
  cursor: pointer;
}

.multi-select > .multi-select-dropdown > .multi-select-filters > .multi-select-filter:hover {
  background-color: #428bca;
}

.multi-select > .multi-select-dropdown > ul {
  padding: 0;
  list-style-type: none;
}

.multi-select > .multi-select-dropdown > ul > li {
  line-height: 2.2em;
  color: #333;
  font-size: 0.9em;
  list-style-type: none;
  margin-left: 0;
}

.multi-select > .multi-select-dropdown > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}

.multi-select > .multi-select-dropdown > ul > li > a:hover {
  color: #363636;
  text-decoration: none;
  background-color: #f5f5f5;
}

.multi-select > .multi-select-dropdown > ul > li > a.selected {
  color: #fff;
  background-color: #428bca;
}

.multi-select > .multi-select-dropdown > .multi-select-other-container {
  padding: 0 10px;
}

.multi-select > .multi-select-dropdown > .multi-select-other-container > .multi-select-other {
  font-size: 0.9em;
  height: 30px;
  width: 300px;
}

.multi-select .hide {
  display: none !important;
}

.multi-select .show {
  display: block !important;
}

.multi-select .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.multi-select .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.multi-select .form-control::-moz-placeholder {
  color: #777;
  opacity: 1;
}

.multi-select .form-control:-ms-input-placeholder {
  color: #777;
}

.multi-select .form-control::-webkit-input-placeholder {
  color: #777;
}
